<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consider the efficacy and safety profiles of an adjunctive PD therapy</title>
    <style type="text/css" media="screen">
        
        table,td, th {
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                 box-sizing: border-box;
            }
            
            .fluid {
              max-width: 100% !important;
              height: auto !important;
          }
           

       @media only screen and (max-width: 600px) {

    
            .container{
                min-width: 100% !important;
                width: 100%!important;
            }

            .heading{
                width: 100%!important;
                text-align: left!important;
                font-size: 14px!important;
            }

            .part2{
                width:100%!important;
                text-align: center!important;
                display: inline-block!important;
                padding: 0px 0px!important;
                line-height: 0px!important;
                text-decoration: none!important;
            }

            .show-for-large{
                display: none!important;
                overflow: hidden!important;

            }

            .intro{
                padding-top: 20px!important;
                width: 100%!important;

            }

            .intro1{
                width: 100%!important;
                max-width: 100%!important;
                display: flex!important;
            }
            

            .show-for-large{
                display: none!important;
                overflow: hidden!important;
            }

            .hide-for-large{
                display: table !important;
                width: 100% !important;
                height: auto !important;
                overflow: visible !important;
                max-width: 100% !important;
                max-height: 100% !important;
                visibility: visible !important;
                opacity: 1 !important;
            }

           
        }
    </style>
</head>
<body style="margin: 0px; padding: 0px;">
    <table class="container" width="602"  align="center" cellspacing="0" cellpadding="0">
        <tbody>
            <tr>
                <td style="border: 1px solid black;">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td colspan="2" style="background-color: #009AC7;">
                                1 col
                            </td>
                        </tr>
                        <tr>
                            <td style="background-color:#57584F;">
                                half col
                            </td>
                            <td style="background-color: #57584F;">
                                half col
                            </td>
                        </tr>
                    </table>
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td class="heading" align="center" style="font-size:14px; line-height:16px; letter-spacing:0.1px; background-color: #ececec; padding: 17px 20px; font-family: Arial, Helvetica, sans-serif; color:#57584f;">
                                    Discover what this different treatment for "off" time can do for your patients with PD.
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table  width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td class="part2" align="right" style="padding:20px 10px; font-size:14px; font-family: Arial, Helvetica, sans-serif;"><a href="https://www.nourianzhcp.com/assets/pdf/nourianz-full-prescribing-information.pdf"  style="color:#0095c5;">Prescribing Information</a></td>
                                <td class="show-for-large" align="left"><span>/</span></td>
                                <td class="part2" align="left" style="padding:20px 10px; font-size:14px; font-family: Arial, Helvetica, sans-serif;"><a href="#"  style="color:#0095c5;">Important Safety Information</a></td>
                            </tr>
                        </tbody>
                    </table>
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td class="intro"><strong style="padding:25px 40px;  font-family:Arial, Helvetica, sans-serif; color:#0095c5; font-size: 17px;">Indication</strong>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td class="intro1" style="padding: 0px 40px;  font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 17px; color: #57584F;">
                                    NOURIANZ@ (istradefylline) is an adenosine<br>receptor antagonist indicated as adjunctive<br>treatment to levodopa/carbidopa in adult<br>patients with Parkinson's disease (PD)<br>experiencing "off" episodes.
                                </td>
                                <td class="show-for-large" align="right" style="padding-right:40px; padding-bottom: 5px;"><img src="images/nourianz-logo.png" width="160px" height="90px" ></td>
                            </tr>
                        </tbody>
                    </table>
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tbody>
                            <th style="padding-top: 16px;"> 
                                <tr>
                                    <td>
                                       <strong style="padding:0px 40px;  font-family:Arial, Helvetica, sans-serif; color:#0095c5; font-size: 17px;">Important Safety Information</strong>
                                    </td>
                                </tr>
                            </th>
                        </tbody>
                    </table>
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <strong style="padding:0px 40px;  font-family:Arial, Helvetica, sans-serif; color:#a71e7d;; font-size: 14px;">Warnings and Precautions</strong> 
                            </tr>
                        </tbody>
                    </table>
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tbody>
                            <th>
                                <tr>
                                    <td style="padding-right:40px; padding-left: 40px; font-size: 14px; font-family: Arial, Helvetica, sans-serif; color: #57584F; line-height: 19px;">
                                        <strong>Dyskinesia:</strong>NOURIANZ in combination with levodopa may cause dyskinesia or exacerbate pre-existing dyskinesia. In clinical trials, 1% of patients treated with either NOURIANZ 20 mg or 40 mg discontinued treatment because of dyskinesia, compared to 0% for placebo.
                                    </td>
                                </tr>
                            </th>
                        </tbody>
                    </table>
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td style="padding:10px 40px;">
                                    <strong>Please see</strong><a href="#" style="color: #c1299e; font-weight: bold;"> Important Safety Information</a><strong> continued below.</strong>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table  class="hide-for-large" style="display: none;" width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td align="right" style="padding-right:40px; padding-bottom: 5px;"><img src="images/nourianz-logo.png" width="160px" height="90px" ></td>
                            </tr>
                        </tbody>
                    </table>
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td class="show-for-large">
                                    <img src="images/banner.jpg" width="100%" class="fluid">
                                </td>
                                <td class="hide-for-large" style="display: none;">
                                    <img src="images/banner-mob.jpg" width="100%" class="fluid">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td style="padding:20px 0px 0px 40px;">
                                    <strong>Hello,</strong><span style="color:#0095c5;"> <%= firstName %> <%= lastName %></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td style="padding-left: 40px; padding-right: 40px;">
                                   <span style="font-size:14px; line-height:17px; font-family:Arial, Helvetica, sans-serif" > Patients taking levodopa/carbidopa for their PD will often experience “off” time at some point during treatment, but may fail to recognize it or report it to their physician.2,3 NOURIANZ® (istradefylline) has been studied extensively and has demonstrated significantly decreased “off” time as well as increased “on” time without troublesome dyskinesia when added to levodopa treatment.1,4</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td style="color: #a71e7d; padding:40px 40px 10px 40px; font-family:Arial, Helvetica, sans-serif;font-size: 23px;">
                                    NOURIANZ significantly decreased “off” time from baseline compared to placebo
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td style="display:block; padding: 10px 0px 20px 40px; ">
                                    <a href="https://www.nourianzhcp.com/efficacy/?utm_source=p360&utm_medium=email&utm_campaign=2020_hcp_efficacy_safety_email_update_p360&utm_content=see_efficacy_data#off"><img src="images/See-eficacy-data-cta.png" width="200px" class="fluid"></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table  width="85%" align="center" border="0" cellspacing="0" cellpadding="0" style="background-color:#d9eff7;">
                        <tbody>
                           <th>
                                <tr> 
                                    <td style="padding: 18px 0px 10px 18px; font-size: 14px; font-family: Arial, Helvetica, sans-serif;">
                                        NOURIANZ increased daily “on” time, without troublesome<br> dyskinesia1,4                             
                                        <a href="https://www.nourianzhcp.com/safety/?utm_source=p360&utm_medium=email&utm_campaign=2020_hcp_efficacy_safety_email_update_p360&utm_content=learn_more_about_discontinuation_rates_with_nourianz#aes"><img src="images/Learn-more-cta1.png" width="400px" class="fluid" style="padding: 10px 0px 10px 10px;"></a>
                                    </td>
                                </tr>
                            </th>
                        </tbody>
                    </table>
                    <table width="100%" align="center" border="0" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td style="color: #a71e7d; padding:30px 40px 10px 40px; font-family:Arial, Helvetica, sans-serif;font-size: 23px;">
                                    Safety evaluated by clinical trial experience in over seven hundred patients1,4                                
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table width="100%" align="center" border="0" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td style="display:block; padding: 10px 40px 20px 40px; ">
                                    <a href="https://www.nourianzhcp.com/safety/?utm_source=p360&utm_medium=email&utm_campaign=2020_hcp_efficacy_safety_email_update_p360&utm_content=view_the_safety_profile_of_nourianz#trial"><img src="images/View-the-safety-profile-cta.png" width="400px" class="fluid"></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table  width="85%" align="center" border="0" cellspacing="0" cellpadding="0" style="background-color:#d9eff7;">
                        <tbody>
                           <th>
                                <tr> 
                                    <td class="text" style="padding: 18px 0px 20px 25px; font-size: 14px; font-family: Arial, Helvetica, sans-serif;">
                                        In clinical trials, discontinuation rates for NOURIANZ were comparable<br>
                                        to placebo1                                        
                                        <a href="https://www.nourianzhcp.com/safety/?utm_source=p360&utm_medium=email&utm_campaign=2020_hcp_efficacy_safety_email_update_p360&utm_content=learn_more_about_discontinuation_rates_with_nourianz#aes"><img src="images/discontinuation-rates-cta.png" width="400px" class="fluid" style="padding: 10px 0px 10px 10px;"></a>
                                    </td>
                                </tr>
                            </th>
                        </tbody>
                    </table>
                    <table width="100%" align="center" border="0" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td>
                                    <img src="images/nextmove-desktop.jpg" width="100%" class="fluid" style="padding-top: 20px;">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table width="85%" align="center" border="0" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td style="border:1px solid #009AC7"></td>
                            </tr>
                        </tbody>
                    </table>
                    <table width="100%"  border="0" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td  align="left" style="padding: 30px 0px 0px 40px;">
                                    <img src="./images/kyowa-kirin-logo.png" width="130" class="fluid">
                                    <table width="100%"  border="0" cellspacing="0" cellpadding="0" >
                                        <tbody>
                                            <tr>
                                                <td  style="padding: 0px 0px 20px 0px; font-size: 11px; line-height: 14px;">
                                                    NOURIANZ® is a registered trademark of Kyowa Kirin Co., Ltd.<br>
                                                    135 Route 202/206, Suite 6<br>
                                                    Bedminster, NJ 07921 USA<br>
                                                    ©2020 Kyowa Kirin, Inc. All rights reserved.<br>
                                                    PM-US-NOU-0215 July 2020
                                                </td>
                                                <td align="right" style="padding: 0px 40px 0px 00px; float: right;">
                                                    <img src="images/nourianz-logo.png" width="100" class="fluid">
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td> 
                             </tr>
                        </tbody>  
                    </table>
        


                    <table width="100%" align="left" border="0" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td align="center" style="font-size:12px; line-height:16px; letter-spacing:0.1px; background-color: #ececec; padding: 25px 0; font-family: Arial, Helvetica, sans-serif; color:#57584f;">
                                    To be removed from future emails from<strong> Kyowa Kirin, Inc.,</strong>please <a href="#">click here.</a>
                                </td>
                            </tr>
                        </tbody>
                    </table> 
                </td>
            </tr>
        </tbody>
    </table>
    
</body>
</html>